/* ================================================================================================== */
/* ================================ START email signup modal styles ================================= */
/* ================================================================================================== */

.pop-msg-2{
	display:none;
}
.subs-popup {
	display: none;
	background-color: rgba(0,162,229,0.80);
	background-size:cover;
	position: fixed;
	top:0px;
	left:0px;
	height: 100%;
	width: 100%;
	z-index:9;
}
.subs-popup-bg-img{
	opacity: .06;
    background-image: url(http://static.wixstatic.com/media/3891f6_a3b5b10032294e829544ea4236f9906b.gif);
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
.sub-pop-container{
	width:400px;
	height:300px;
	position:absolute;
	top:40%;
	left:50%;
	margin:-150px 0 0 -200px;
	background-color:#fff;
	border-radius:8px;
	box-sizing:border-box;
	padding:12px;
    -webkit-box-shadow: 0px 0px 60px 0px rgba(20, 0, 60, 0.75);
    -moz-box-shadow: 0px 0px 60px 0px rgba(20, 0, 60, 0.75);
    box-shadow: 0px 0px 60px 0px rgba(20, 0, 60, 0.75);
}
.pop-up-headline{
	font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    display: block;
    font-size: 18px;
    color: #016a99;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.sub-pop-container p.offer{
	font-family:Verdana, Geneva, sans-serif;
	font-size:26px;
	letter-spacing:-1px;
	font-weight:bold;
	color:#016a99;
    margin: 6px 0 -20px 0
}
.sub-pop-container p.small-print{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#016a99;
	line-height:18px;
    margin: 0 0 4px 0;
}
.popup-input{
	width:372px;
	border:1px solid #ccc;
	border-radius:8px;
	color:#00a2e5;
	font-size:20px;
	text-align:center;
	box-sizing:border-box;
	padding:12px 12px;
	display:block;
}
.popup-btn, .popup-shop-btn{
	font-family:Verdana, Geneva, sans-serif;
	width:200px;
	padding:10px 0 12px 0;
	text-align:center;
	color:#fff;
	background-color:#00a2e5;
	font-size:18px;
	border-radius:8px;
	border:none;
	margin:20px 0 0 0;
}
a.popup-no-thanks{
	width:100px;
	display:inline-block;
	font-family:Verdana, Geneva, sans-serif;
	color:#00a2e5;
	font-size:14px;
	text-transform:none;
	text-align:center;
    margin: 0 0 0 38px;
    cursor: pointer;
}
.pop-email-address-auto {
    line-height: 29px;
    font-size: 20px;
    color: #007dc3;
}
.popup-close {
	position: absolute;
    right: 12px;
    top: 10px;
    font-family: Verdana, Geneva, sans-serif;
    color: #ccc;
    font-size: 16px;
    cursor: pointer;
}
