.pop-msg-2{
	display:none;
}
.subs-popup {
	display: none;
	background-color: rgba(0,162,229,0.9);
	background-size:cover;
	position: fixed;
	top:0px;
	left:0px;
	height: 100%;
	width: 100%;
	z-index:9999;
}
.sub-pop-container{
	width: 502px;
    height: 426px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -195px 0 0 -250px;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 60px 0px rgba(20, 0, 60, 0.75);
    -moz-box-shadow: 0px 0px 60px 0px rgba(20, 0, 60, 0.75);
    box-shadow: 0px 0px 60px 0px rgba(20, 0, 60, 0.75);
}
.pop-up-headline{
	font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    display: block;
    font-size: 20px;
    color: #016a99;
    font-weight: normal;
    text-transform: uppercase;
	margin-bottom:0;
}
.pop-msg-2 .pop-up-headline{
	margin-bottom:20px;
}
.sub-pop-container p.offer{
	font-family: Verdana, Geneva, sans-serif;
    font-size: 31px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #016a99;
    margin: -5px 0 -5px 0;
}
.sub-pop-container p.small-print{
	font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    color: #016a99;
    line-height: 25px;
    margin: 0 0 10px 0;
    padding: 0;
}
.popup-input{
	width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #00a2e5;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 16px 12px;
    display: block;
}
.popup-btn{
	display:none;
}
.popup-btn, .false-popup-btn, .popup-shop-btn{
	font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    background-color: #00a2e5;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    margin: 20px 0 0 0;
}
.false-popup-btn{
    background-color: #ededed;
}
a.popup-no-thanks{
	width:100%;
	display:block;
	font-family:Verdana, Geneva, sans-serif;
	color:#cee8f5;
	font-size:13px;
	text-transform:none;
	text-align:center;
    margin: 40px 0 0 0;
    cursor: pointer;
}
.pop-email-address-auto{
	color: #00a2e5;
    font-size: 20px;
}
.popup-close {
	position: absolute;
    right: 12px;
    top: 10px;
    font-family: Verdana, Geneva, sans-serif;
    color: #ccc;
    font-size: 16px;
    cursor: pointer;
}
.pop-pool-type-title{
	font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
	margin:26px 0 0 0;
	padding:0px;
	opacity:0;
	width:100%;
}
.pop-pool-type-optional{
	font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    float: right;
    padding: 8px 0 0 0;
    color: #dfdfdf;
}
.pool-type-selection-container{
	margin: 4px 0 0 0;
    font-size: 18px;
	opacity:0;
}
input.AGtype, input.IGtype{
	display:none;
}
.pool-type-pop-div{
	text-align: center;
    padding: 5px 0 6px 0;
    width: 49%;
	background: #ededed;
	display:inline-block;
	border:solid 1px #ccc;
    border-radius: 4px;
	color:#999;
	overflow:hidden;
	transition: all .33s;
	position:relative;
}
.pool-type-pop-div .check{
	opacity:0;
	position:absolute;
	left:22px;
	top:0px;
	font-size:25px;
	color:#fff;
	transition:all .33s;
}
.control input:checked ~ .pool-type-pop-div{
	border:solid 1px #016a99;
	background: #016a99;
	color:#fff;
}
.control input:checked ~ .pool-type-pop-div .check{
	opacity:1;
}
.pop-msg-small-print{
        font-family: Verdana, Geneva, sans-serif;
        font-size: 12px;
	color: #bbb;
	margin: -40px 0 0 0;
	font-weight: 100;
	letter-spacing: .025em;
}
